<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestAPI - HOME</title>
</head>

<body style="background-color: cadetblue;">
    <center>
        <h1>Welcome to REST-API</h1>
    </center>
    <hr>
    <!-- {{data}} -->

    <table border="2" align="center">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.city}}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>